<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.acestream.engine">

    <uses-sdk
        xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="org.acestream.livechannels, android.support.media.tv, androidx.tvprovider" />

    <!-- normal (automatically granted by system) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- dangerous (must be granted by user) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <!-- remove zxing camera permissions -->
    <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:icon="@drawable/ic_acestream"
        android:banner="@drawable/android_tv_banner"
        android:label="@string/app_title"
        tools:replace="android:label">

        <!-- Arch build flavor (armv7, x86 or universal) -->
        <meta-data
            android:name="org.acestream.arch"
            android:value="${arch}"/>

        <!-- Google Auth web client id -->
        <meta-data
            android:name="org.acestream.webClientId"
            android:value="${webClientId}"/>

        <!-- Ads configuration -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${adMobAppId}"/>
        <meta-data
            android:name="org.acestream.adMobAppId"
            android:value="${adMobAppId}"/>
        <meta-data
            android:name="org.acestream.adMobBannerId"
            android:value="${adMobBannerId}"/>
        <meta-data
            android:name="org.acestream.adMobInterstitialPauseId"
            android:value="${adMobInterstitialPauseId}"/>
        <meta-data
            android:name="org.acestream.adMobInterstitialPrerollId"
            android:value="${adMobInterstitialPrerollId}"/>
        <meta-data
            android:name="org.acestream.adMobInterstitialCloseId"
            android:value="${adMobInterstitialCloseId}"/>
        <meta-data
            android:name="org.acestream.adMobRewardedVideoPrerollId"
            android:value="${adMobRewardedVideoPrerollId}"/>
        <meta-data
            android:name="org.acestream.adMobRewardedVideoMainId"
            android:value="${adMobRewardedVideoMainId}"/>
        <meta-data
            android:name="org.acestream.moPubAdUnitId"
            android:value="${moPubAdUnitId}"/>
        <meta-data
            android:name="org.acestream.pollfishApiKey"
            android:value="${pollfishApiKey}"/>

        <!-- // for testing (this was required by appdeal -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name=".BootReceiver"
            android:process="${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".maintain.AlarmReceiver"
            android:process="${applicationId}"/>

        <receiver
            android:name=".receivers.DispatcherReceiver"
            android:process="${applicationId}"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.acestream.action.open_topup_activity" />
                <action android:name="org.acestream.action.open_upgrade_activity" />
            </intent-filter>
        </receiver>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Google Sing-In stuff -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:process="${applicationId}"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- End Google Sing-In stuff -->

        <activity
            android:name=".MainActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:label="@string/app_title"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden|locale"
            android:taskAffinity="@string/main_affinity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="org.acestream.action.open_profile_activity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:theme="@style/AppTheme"
            android:process="${applicationId}"
            android:taskAffinity="@string/main_affinity">
            <intent-filter>
                <action android:name="org.acestream.action.open_login_activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".notification.WebViewNotificationActivity"
            android:process="${applicationId}"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity"
            android:theme="@style/MyWebView.NoActionBar"
            />

        <activity
            android:name=".notification.NotificationActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:taskAffinity="@string/main_affinity" />
        <activity
            android:name=".ReportProblemActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity">
            <intent-filter>
                <action android:name="org.acestream.action.open_report_problem_activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResolverActivity"
            android:process="${applicationId}"
            android:label="@string/select_player"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity"
            android:theme="@android:style/Theme.Holo.Dialog">
            <intent-filter>
                <action android:name="org.acestream.action.open_resolver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PairingDialogActivity"
            android:process="${applicationId}"
            android:label="Pairing with device"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity"
            android:theme="@android:style/Theme.Holo.Dialog"
            />
        <activity
            android:name=".MobileNetworksDialogActivity"
            android:process="${applicationId}"
            android:label="Enable mobile networks"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity"
            android:theme="@android:style/Theme.Holo.Dialog"
            />
        <activity
            android:name=".ContentIdDialogActivity"
            android:process="${applicationId}"
            android:label="Enter Content ID"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity"
            android:theme="@android:style/Theme.Holo.Dialog"
            />
        <activity
            android:name=".RemoteControlActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:label="Remote Control"
            android:taskAffinity="@string/main_affinity">
            <intent-filter>
                <action android:name="org.acestream.action.open_remote_control_activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BonusAdsActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:label="@string/bonuses"
            android:configChanges="orientation|screenSize|keyboardHidden|locale"
            android:taskAffinity="@string/main_affinity">
            <intent-filter>
                <action android:name="org.acestream.action.open_bonus_ads_activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:process="${applicationId}"
            android:taskAffinity="@string/main_affinity"
            android:theme="@style/MyWebView"
            />
        <activity
            android:name=".player.VideoPlayerActivity"
            android:process="${applicationId}"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:finishOnTaskLaunch="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/Theme.Player"
            android:exported="true">
            <intent-filter>
                <action android:name="org.acestream.action.start_player" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerSettingsActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".notification.NotificationReceiverActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="@string/main_affinity"/>
        <activity
            android:name=".ContentStartActivity"
            android:process="${applicationId}"
            android:configChanges="mcc|mnc|locale|orientation|screenLayout|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:taskAffinity="@string/main_affinity"
            android:icon="@drawable/ic_acestream"
            android:label="@string/app_title"
            android:noHistory="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Dialog">

            <!-- explicit intent without data -->
            <intent-filter>
                <action android:name="org.acestream.action.start_content" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- explicit intent with data and mime -->
            <intent-filter>
                <action android:name="org.acestream.action.start_content" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="acestream" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="magnet" />
            </intent-filter>

            <!-- explicit intent with data and mime -->
            <intent-filter>
                <action android:name="org.acestream.action.start_content" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="acestream" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="magnet" />
            </intent-filter>

            <!-- acestream:// and magnet:// without data type -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="acestream" />
                <data android:scheme="magnet" />
            </intent-filter>

            <!-- acestream:// and magnet:// with data type -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="acestream" />
                <data android:scheme="magnet" />
            </intent-filter>

            <!-- application/x-bittorrent mime -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-bittorrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="file" />
            </intent-filter>

            <!-- match by extension without mime -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:scheme="ftp" />
                <data android:pathPattern=".*\\.acelive" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\.acemedia" />
                <data android:pathPattern=".*\\.acestream" />
                <data android:pathPattern=".*\\.ACELIVE" />
                <data android:pathPattern=".*\\.TORRENT" />
                <data android:pathPattern=".*\\.ACEMEDIA" />
                <data android:pathPattern=".*\\.ACESTREAM" />
            </intent-filter>

            <!-- match by extension with mime -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="ftp" />
                <data android:pathPattern=".*\\.acelive" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\.acemedia" />
                <data android:pathPattern=".*\\.acestream" />
                <data android:pathPattern=".*\\.ACELIVE" />
                <data android:pathPattern=".*\\.TORRENT" />
                <data android:pathPattern=".*\\.ACEMEDIA" />
                <data android:pathPattern=".*\\.ACESTREAM" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.LinkActivity"
            android:process="${applicationId}"
            android:theme="@style/AppTheme"
            android:taskAffinity="@string/main_affinity" />
        <service
            android:name=".service.AceStreamEngineService"
            android:process="${applicationId}"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="org.acestream.engine.service.v0.IAceStreamEngine" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".acecast.server.AceStreamDiscoveryServerService"
            android:process="${applicationId}"
            android:exported="false"/>

        <service
            android:name=".PlaybackManager"
            android:process="${applicationId}"
            android:exported="true">
            <intent-filter>
                <action android:name="org.acestream.engine.PlaybackManager" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".maintain.AlarmService"
            android:process="${applicationId}"
            android:exported="false"/>

        <service
            android:name=".player.MediaSessionService"
            android:process="${applicationId}"
            android:exported="false"/>

        <provider
            android:name=".providers.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- AdMob -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:process="${applicationId}"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- End AdMob -->

        <!-- Mopub -->
        <activity android:name="com.mopub.common.privacy.ConsentDialogActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MoPubActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mopub.mobileads.MraidActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <!-- End Mopub -->

        <!-- Tapjoy -->
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.tapjoy.TJAdUnitActivity"
            android:process="${applicationId}"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.tapjoy.mraid.view.ActionHandler"
            android:process="${applicationId}"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.tapjoy.mraid.view.Browser"
            android:process="${applicationId}"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.tapjoy.TJContentActivity"
            android:process="${applicationId}"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true" />
        <!-- End Tapjoy -->

        <!-- Adcolony -->
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"/>
        <!--suppress AndroidDomInspection -->
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:process="${applicationId}"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"/>
        <!-- End Adcolony -->
    </application>

</manifest>
